.container {
  max-width: 100%;
  background-color: #bde0fe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 -2%; /* Apply negative margins */
  padding: 2%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  /* margin-top: 1%; */
}

.header {
  box-sizing: border-box;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  background-color: #e6f3fe;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  display: 'inline-block'
}

.floating-header {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%; */
  /* background-color: #fff; */
  /* z-index: 100; */
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  background-color: #e6f3fe;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-list li {
  display: inline-block;
}

.link-list li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}



/* .container {
    max-width: 100%; 
    background-color: #bde0fe; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  background-color: #e6f3fe;
} */